/* ----------------------------------------------
:: Template Name: Dorne - Directory & Listing Template
:: Template Author: Colorlib
:: Template Author URI: https://colorlib.com
:: Version: v1.0.0
:: Last Updated: 12-23-2017
---------------------------------------------- */

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
/* Import CSS */

@import 'css/bootstrap/bootstrap.min.css';
@import 'css/others/animate.css';
@import 'css/others/font-awesome.min.css';
/* Base CSS */

*/ * {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #2a2a2a;
  line-height: 1.3;
}

p {
  color: #848484;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  margin: 0;
  padding: 0;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  outline: none;
  font-weight: 600;
}

li {
  list-style: none;
}

/* Header & Menu Area CSS */

.header_area {
  position: fixed;
  width: 100%;
  z-index: 9999;
  height: 120px;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-transition-duration: 700ms;
  transition-duration: 700ms;
  /* background: rgba(225, 255, 255, 0.3); */
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0 30px;
}

.sticky .header_area {
  background-color: rgba(14, 2, 35, 0.9);
  height: 80px;
  z-index: 9999;
  border-bottom: 1px solid transparent;
}

.navbar-brand {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-right: 70px;
}

.navbar-brand:hover, .navbar-brand:focus {
  color: #fff;
  font-weight: 700;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 15px;
  padding-left: 15px;
  color: white;
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 15px;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-item.active .nav-link {
  color: #7643ea;
}

/* Welcome Area CSS */

.dorne-welcome-area {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

/* Category Area CSS */

.dorne-catagory-area {
  display: none;
  /* position: relative;
  z-index: 9; */
}

/* Contact Area CSS */

.contact-form-area {
  position: relative;
  z-index: 1;
  padding: 100px 40px 100px 50px;
}

.contact-form-area, .dorne-map-area {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  width: 50%;
}

.breadcumb-area {
  height: 120px;
  position: relative;
  z-index: 1;
}

#googleMap {
  width: 100%;
  height: 100%;
}

.contact-text h4 {
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 50px;
}

.contact-text p {
  font-size: 14px;
  line-height: 2;
  margin: 0;
}

.contact-form {
  padding: 70px 30px;
  background-color: #f3edff;
}

.contact-form-title h6 {
  font-size: 18px;
  margin-bottom: 30px;
}

.contact-form .form-control {
  height: 50px;
  font-size: 12px;
  color: #72728c;
  font-weight: 600;
  border: none;
  border-radius: 0;
  margin-bottom: 30px;
}

.contact-form textarea.form-control {
  height: 210px;
  width: 100%;
}

.dorne-btn:hover {
  background-color: #D3D3D3;
}

.img-responsive {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  transform: scale(1)
}

.img-responsive:hover {
  box-shadow: 5px 20px 30px rgba(0, 0, 0.3, 0);
  transform: scale(1.1);
}

.responsive {
  width: 100%;
  height: auto;
}

/* video */

video {
  width: 100%;
  height: auto;
}

/* weather */

.weather1 {
  display: inline-block;
  position: absolute;
  top: 120px;
  right: 20px;
  padding: 10px;
  background: rgba(225, 255, 255, 0.3);
  height: auto;
  width: auto;
  border-radius: 5px;
}

#myBtn {
  /* background: #000;
  color: #fff; */
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 650px;
  right: 20px;
  padding: 10px;
  z-index: 99;
  /* background: rgba(225, 255, 255, 0.3); */
  height: auto;
  width: auto;
  border-radius: 5px;
}

@media screen and (max-width: 1200px) {
  #myBtn {
    display: block;
    position: relative;
    z-index: 9999;
    left: 0px;
    top: -50px;
    height: auto;
    width: auto;
  }
}

/* gallery */

.gallery {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-width: 25%;
  -moz-column-width: 25%;
  column-width: 25%;
}

.gallery img {
  padding-bottom: 25px;
}

/* @media (max-width: 769px) {
  .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
  }
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
  }
} */

.work {
  overflow: hidden;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.work .overlay {
  background: #000000;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  transition: opacity, 0.3s;
}

.work .overlay-caption {
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.work h5, .work p, .work img {
  transition: all, 0.5s;
}

.work h5, .work p {
  color: white;
  margin: 0;
  opacity: 0;
}

.work h5 {
  margin-bottom: 5px;
  transform: translate3d(0, -200%, 0);
}

.work p {
  transform: translate3d(0, 200%, 0);
}

.work-box:hover img {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.work-box:hover .overlay {
  opacity: 1;
}

.work-box:hover .overlay h5, .work-box:hover .overlay p {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* contact */

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.footer-copyright {
  background-color: #9370DB;
}

.fontContact {
  /* font-family: 'Lobster', cursive; */
  font-family: 'Roboto', sans-serif;
}

/* Gallery-style */

.demo-gallery>ul {
  margin-bottom: 0;
  padding-left: 15px;
}

.demo-gallery>ul>li {
  margin-bottom: 15px;
  width: 180px;
  display: inline-block;
  margin-right: 15px;
  list-style: outside none none;
}

.demo-gallery>ul>li a {
  border: 3px solid #FFF;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
}

.demo-gallery>ul>li a>img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}

.demo-gallery>ul>li a:hover>img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.demo-gallery>ul>li a:hover .demo-gallery-poster>img {
  opacity: 1;
}

.demo-gallery>ul>li a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}

.demo-gallery>ul>li a .demo-gallery-poster>img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.demo-gallery>ul>li a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}

.demo-gallery .justified-gallery>a>img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}

.demo-gallery .justified-gallery>a:hover>img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.demo-gallery .justified-gallery>a:hover .demo-gallery-poster>img {
  opacity: 1;
}

.demo-gallery .justified-gallery>a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}

.demo-gallery .justified-gallery>a .demo-gallery-poster>img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.demo-gallery .justified-gallery>a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}

.demo-gallery .video .demo-gallery-poster img {
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  opacity: 0.8;
  width: 48px;
}

.demo-gallery.dark>ul>li a {
  border: 3px solid #04070a;
}