@media (min-width: 992px) and (max-width: 1199px) {
  .header_area {
    padding: 0;
  }
  .navbar-brand {
    margin-right: 30px;
  }
  .dorne-search-btn>a, .dorne-signin-btn>a {
    margin-right: 15px;
    font-size: 14px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 7px;
    padding-left: 7px;
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .dorne-welcome-area {
    /* width: 100%; */
    height: auto;
    /* position: relative; */
    z-index: 1;
  }
  .navbar-toggler {
    border: 2px solid #fff;
    color: #fff;
    margin: 37px 0;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
  }
  .sticky .navbar-toggler {
    margin: 17px 0
  }
  #dorneNav {
    padding: 30px;
    background-color: #341a79;
    box-shadow: 1px 9px 10px rgba(255, 255, 255, 0.15);
    border-radius: 0 0 3px 3px
  }
  .dorne-search-btn>a, .dorne-signin-btn>a {
    margin-right: 0;
    margin-left: 15px;
    padding: 10px 0;
  }
  .hero-content h2 {
    color: #fff;
    font-size: 42px;
  }
  .hero-social-btn {
    bottom: 140px;
    left: 30px;
    z-index: 0;
  }
  .hero-search-form .tab-content .tab-pane form .custom-select {
    padding: 0 10px;
    margin-right: 5px;
  }
  .dorne-btn {
    min-width: 150px;
  }
  .single-catagory-area .catagory-content h6 {
    font-size: 13px;
  }
  .about-content h2 {
    font-size: 36px;
  }
  .single-catagory-area {
    padding: 40px 15px;
  }
  .clients-logo img {
    padding: 0 15px;
  }
  .contact-form-area {
    padding: 50px 20px;
  }
  .single-contact-info:first-child {
    margin-right: 0;
  }
  .contact-text h4 {
    font-size: 20px;
  }
  #galleryContainer {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .dorne-welcome-area {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }
  .header_area {
    padding: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    color: white;
  }
  .navbar-brand {
    margin-right: 0;
  }
  .navbar-toggler {
    border: 2px solid #fff;
    color: #fff;
    margin: 37px 0;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
  }
  .sticky .navbar-toggler {
    margin: 17px 0
  }
  #dorneNav {
    padding: 15px;
    background-color: #341a79;
    box-shadow: 1px 9px 10px rgba(255, 255, 255, 0.15);
    border-radius: 0 0 3px 3px;
  }
  .dorne-search-btn>a, .dorne-signin-btn>a {
    margin-right: 0;
    margin-left: 15px;
    padding: 10px 0;
  }
  .dorne-btn {
    min-width: 150px;
  }
  .all-catagories {
    top: 0;
    padding: 30px 0;
  }
  .dorne-footer-area {
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
  }
  .footer-text {
    margin-bottom: 30px;
  }
  .contact-form-area, .dorne-map-area {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
  }
  .contact-form-area {
    padding: 50px 15px;
  }
  .dorne-map-area {
    height: 500px;
  }
  #galleryContainer {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 25%;
    -moz-column-width: 25%;
    column-width: 25%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .weather1 {
    display: block;
    position: relative;
    top: 0px;
    right: 0px;
    height: auto;
    width: auto;
  }
  .feature-events-thumb {
    width: 179px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 179px;
    flex: 0 0 179px;
  }
  .map-ratings-review-area>a {
    padding: 0 30px;
  }
  .single-listing-nav li a {
    padding: 30px 10px;
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  .dorne-catagory-area {
    display: block;
    position: relative;
    z-index: 9;
  }
  .dorne-welcome-area {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }
  .dorne-footer-area {
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
  }
  .single-catagory-area {
    background-color: #7643ea;
    border-radius: 5px;
    text-align: center;
    padding: 60px 15px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    transform: scale(1)
  }
  .single-catagory-area:hover {
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
  }
  .all-catagories {
    position: relative;
    /* top: -50%;
  z-index: 15; */
    padding-bottom: 50px;
  }
  .single-catagory-area .catagory-content img {
    margin-bottom: 15px;
  }
  .single-catagory-area .catagory-content h6 {
    margin-bottom: 0;
    color: #fff;
  }
}

@media screen and (max-width: 320px) {
  #galleryContainer {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    text-align: center;
  }
}